#navar-tuto{
    background-color: hsl(204deg 78% 93%);
    box-shadow: 2px 2px 5px #000000;
    opacity: .9;
    background-color: hsl(204deg 78% 93%);
}

.nav-link{
    color: #000000!important;
  }
  .nav-link:hover{
    color: white!important;
  }
  

.navbar-brand {
    margin-right: -311px;
}
#btn-header{
    color: white;
    background-color: hsl(241deg 97% 27%);
    border-color: hsl(205deg 100% 85%);
}
#btn-header:hover{
    color: black;
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: white;
}
#btn-registrate{
    color: white;
    background-color: hsl(205deg 100% 85%);
    border-color: hsl(205deg 100% 85%);
}
#btn-registrate:hover{
color: black;
}
h1{
   font-size:  3.5rem;
}
#pasos{
    font-size: xxx-large;
   text-align: center;
}
.como-f{
    margin: 100px;
    padding: 25px;
}
#como-funciona{
    background-color: hsl(220deg 60% 20%);
}
#pasos{
    color: white;
}
.icon-pasos-t{
    color: white;
}
#Capa_1{
    color: white !important;
}
#requi-h5{
    text-align: center;
    font-size: xxx-large;
}
img.icon-requi{
   color: hsl(220deg 60% 20%);
}
#requi-h5{
    color: hsl(205deg 100% 85%);
    margin: revert;
}
#requisitos{
    background-color: hsl(0deg 0% 90%);
}
p.parrafo-requi{
    color: hsl(220deg 60% 20%);
}
.btn.btn-requi{
    color: white;
    background-color: hsl(205deg 100% 85%);
    border-color: hsl(205deg 100% 85%);  
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.btn.btn-requi:hover{
    color: black;
}
#ingresos{
    background-color: hsl(0deg 0% 98%);
}
#ingresos-h1{
    color: hsl(220deg 60% 20%);
}
#footer-ingresos{
    display: block;
    margin-top: 100px;
    background-color: hsl(220deg 60% 20%);
}
#foot-ingresos{
   padding-left: 400px; 
}
#email-label{
    display: inline-block;
    color: white;
    font-size: xx-large;
}
#enviar.btn{
    color: white;
    background-color: hsl(205deg 100% 85%);
    border-color: hsl(205deg 100% 85%);
}
#ingre-foot{
    margin-top: 15px;
    margin-left: auto;
}
#enviar.btn{
    margin: inherit;
}
#pagos{
    margin-left: 779px;
    margin-top: 70px;
    border: none;
}
#rede{
    margin-top: auto;
}
.icon-pagos,.icon-socia{
    color: white;
}
h6{
color: white;
}
img#footer{
    margin-top: 50px;
}
