.navbar-brand {
  margin-right: -20rem !important;
}

.navbar {
  box-shadow: 2px 2px 5px #000000;
  opacity: .9;
  background-color:  hsl(204deg 78% 93%);
}
.navbar-nav .nav-item .nav-link {
  color: hsl(0deg 4% 10%);
}
.background-overlay{
  background: hsl(204deg 78% 93%);
}

a.btn.Registrategratis,button.btn.Tutores,button.btn.Estudiante,#control button.btn{
  color: white;
  background-color: hsl(205deg 100% 85%);
  border-color: hsl(205deg 100% 85%);
}

button.btn.azul{
  color: white;
  background-color: hsl(241deg 97% 27%);
  border-color: hsl(205deg 100% 85%);
}
    
img#libro{
  padding-left: 140px;
}

button.btn.btn{
  margin-left: 68px;
}

button.btn.btn:hover{
  color: #000000;
}

a.btn.Registrategratis:hover{
  color: #000000;
}

#muestra.py-5{
  background-color: hsl(205deg 100% 85%)
}

svg.bi.bi-cash-stack,svg.bi.bi-card-checklist{
  color: white;
}

.iconn{
  color: grey;
}
.matetitulo{
  margin-bottom: revert;
}
#icon{
  padding-left: 137px;
}
.retitulo h6{
  font-size: 2rem;
}
.col-sm{
  border: 1px solid rgba(0,0,0,.125);
  margin-right: 20px;
  margin-left: 20px;
}
#icon {
  padding-left: 137px;
  margin-bottom: 14px;
  margin-top: 20px;
}
footer#foot{
  background: hsl(220deg 60% 20%);
}
#Suscribete.col-6{
  padding-left: 400px;
}
#control h6{
  color: hsl(205deg 100% 85%);
  font-size: 25px;
}
#control button{
  margin-top: 15px;
  margin-left: auto;
}
#control button:hover{
  color: #000000;
}
.rede-titu, h4{
  color: hsl(205deg 100% 85%);
}
svg.bi.bi-facebook,svg.bi.bi-instagram,svg.bi.bi-twitter,svg.bi.bi-wallet,svg.bi.bi-cash,svg.bi.bi-credit-card{
  color: white;
}

#pagos.col-sm {
  margin-left: 779px;
  margin-top: 70px;
  border: none;
}

#rede.col.col-lg-2{
  margin-top: auto;
}
.ti-pagos,.ti-redes{
  color: hsl(205deg 100% 85%);
}
label#email-label{
  display: inline-block;
  color: white;
  font-size: xx-large;
}
.matetitulo{
  margin-bottom: 85px;
}
#footer{
  margin-top: 50px;
}
a#Sobre-nosotros.nav-link:hover{
  color: white;
}
a#Inicio.nav-link:hover{
  color: white;
}
a#tutores.nav-link:hover{
  color: white;
}
a#estudiante.nav-link:hover{
  color: white;
}
.queres,h4{
  color: #000000;
}
#repuesta{
  margin: 58px;
}
#quedicen{
  margin: 60px;
}
#foot{
margin-top: 100px;
}
